html {
  font-family: "Roboto", sans-serif;
}

:where(h1, h2, h4, h5, h6) {
  font-family: "Inter", sans-serif;
}

/*#region - start of - input autofill fix */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
/*#endregion - end of - input autofill fix */
